#contenedor1{
    position: relative;
    width: 100%;
    height:auto;
    background-size: 100% 100%;
    overflow: hidden;
    color: white;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    justify-content: center;
    align-items: center;
    background-image: url('images/fondo-pantalla.png');
}



#barra-navegador{
    padding-bottom: 0.1rem;
    background-color: rgba(163, 106, 31, 0) !important;
}


#barra-navegador-fondo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:#262524;
}

#titulo-barra{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4REM;
    color:#ffffff;
}

#opciones-barra{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(160, 159, 159) !important;
}


#opciones-barra2{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(160, 159, 159) !important;}

#opciones-barra3{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(123, 121, 121) !important;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255) !important;
}

.nav-item{
    margin-left: 10rem;
}










#cuerpo1{
    height: 90vh;
    padding-bottom: 4rem;
    padding-top: 8rem;
    background-image: url("images/imagen2.jpg");
    background-size: 100% 100%;
    
}


#cuerpo1-texto{
   
}

#cuerpo1-texto1{
    line-height: 5rem;
    margin-top: 2rem;
    margin-left: 4rem;
    text-align: start;
    font-size: 5rem;
    font-weight: 800;
    font-family: "Montserrat", Sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}







#cuerpo1-texto2{
    text-align: left;
    color: #fc84b4;
    font-family: "Herr Von Muellerhoff", Sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.8rem;}

    #cuerpo1-texto3{
    align-self: center;
    text-align: left;
    font-family: "Open Sans", Sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.8rem;
    letter-spacing: 0.3px;
    }


    #cuerpo1a-oferta img{
        width: 50%;

    }

#contenedor-boton{

    display: flex;
    justify-content: center;
}


#boton1{
    border-radius: 0;
    font-size: 1.2rem;
    width: 50%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 500;
    font-family: "Montserrat", Sans-serif;
    color: white;
    margin-top: 1rem;
    background-color:#e26295;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}





#cuerpo1a-oferta1 img {
    height: 12rem;
    width: 15rem;
}



#cuerpo1a{
    height: 95vh;
    padding-bottom: 4rem;
  
    background-image: url("images/imagen2.jpg");
    background-size: 100% 100%;
    
}


.carousel-indicators button {
    background-color: #000000; /* Cambia el color del punto */
    width: 20px !important; /* Cambia el tamaño del punto */
    height: 20px !important;
    border-radius: 50%; /* Asegura que sean circulares */
}

.carousel-indicators .active {
    background-color: #ffcc00; /* Cambia el color del punto activo */
}




#acercadenosotros{
    background-image: url('images/imagen3.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

#cuerpo2{
   margin-top: 0.1rem;
    background-color: #edebeb0d;
 
   
}

#cuerpo2-texto{
 
    background-color: #000000aa;
    padding-bottom: 6rem;
    padding-top: 6rem;
   
}

#cuerpo2-texto1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 6REM;
    line-height: 5rem;
    color: #e2bd17;
}


#cuerpo2-texto2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 4REM;
   
    color: #f9f6fa;
}



#cuerpo2-texto3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.2REM;
   
    color: #ffffff;
}


#cuerpo2-texto4{
    font-family: "Herr Von Muellerhoff", Sans-serif;
      font-size: 4rem;
      color: #e26295;
  }


  #cuerpo2-texto4-imagen img{
    width: 25rem;
  }

#boton-c2{
    display: flex;
    justify-content: center;
    width: 100%;
}



#servicios{
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
}


#servicio1-texto{
    text-align: start;
    padding-top: 8rem;
}

#servicios-titulo1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size:4REM;
    color: rgb(62, 61, 61);
}

#servicios-titulo1::before{
    border-radius: 0.2rem;
    margin-bottom: 10px;
    align-items: center;
    content: "";
    display: inline-block;
    width: 4rem;
    height: 5px; /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(214, 160, 21);
    margin-right: 10px; /* Espacio entre la barra y el texto del h2 */
  }

#servicios-titulo2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size:4REM;
    color: rgb(214, 160, 21);
}


#servicios-titulo2::after{
    margin-left: 1rem;
    border-radius: 0.2rem;
    margin-bottom: 10px;
    align-items: center;
    content: "";
    display: inline-block;
    width: 4rem;
    height: 5px; /* Ajusta la altura de la barra según tus necesidades */
    background-color: gray;
    margin-right: 10px; /* Espacio entre la barra y el texto del h2 */
  }






#servicio1-imagen img{
    width: 100%;
}




#servicios-texto1-1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size:3REM;
    color: rgb(62, 61, 61);
}


#servicios-texto1-2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size:3REM;
    color: rgb(197, 169, 31);
}


#servicio1-texto2{
    
    line-height: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    font-size:1REM;
    color: rgb(94, 92, 92);
}


#servicio1-texto3{
    line-height: 1.4rem;
    margin-top: 2rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 00;
    font-size:1.2REM;
    color: rgb(83, 82, 82);
}



#telefono{
margin-bottom: 1rem;
    padding-top: 1rem;
    background-color: #0000008e;
    text-align: center;

}


#horario{
   margin-bottom: 1rem;
    padding-top: 1rem;
    background-color: #0000008e;
    text-align: center;
    color: rebeccapurple;
}

#ubicacion{
    margin-bottom: 1rem;
    padding-top: 2rem;
    background-color: #0000008e;
    text-align: center;
   
}

#ubicacion-descripcion{
    font-size: 1rem;
}

#horario-descripcion{
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}



#telefono-imagen img{
    width: 25%;
}

#telefono-descripcion{
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

#telefono-descripcion1{
    color: #e2bd17;
    font-size: 2.5rem;
}

#telefono-titulo{
    font-size: 3rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 500;
    color: #ffffff;
}


#contactanos{
   
   
}

#contactanos-contenedor{
    padding-top: 4rem;
    
}

#contactanos-cuerpo-titulo{
    text-align: center;
    color: red;
}

#contactanos-cuerpo-titulo1{
font-family: 'Josefin Sans', sans-serif;
font-weight: 700;
font-size:3REM;
color: rgb(255, 255, 255);
}


#contactanos-cuerpo-titulo2{
font-family: 'Josefin Sans', sans-serif;
font-weight: 500;
font-size:3REM;
color: rgb(243, 189, 13);
}



#contactanos-cuerpo-titulo-d{
    font-family: 'Poppins', sans-serif;
font-weight: 900;
font-size:3REM;
    color: rgb(255, 255, 255);
}
  

#ubicacion-llegar{
   margin-top: 1rem;
   margin-bottom: 1rem;
    border-radius: 1REM;
    padding-bottom: 0.5REM;
    padding-top: 0.5REM;
    width: 80%;
    background-color: #1153f8;
}


#ubicacion-llegar-t{
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}


#ubicacion-llegar img{
    
   width: 2REM;
}



.service-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }
  .service-dots {
    flex-grow: 1;
    border-bottom: 1px dashed #000;
    margin: 0 10px;
  }
  .service-name, .service-price {
    white-space: nowrap;
  }

  #precios{
    background-color: #F7F4E8;
    text-align: center;
    padding-bottom: 4rem;
    padding-top: 4rem;
    color: red;
  }

  #precios-imagenes{
    display: flex;
    display: inline-block
    
  }

  #precios-imagenes img{
   width: 25rem;
    
  }

  #precios-contenedor1{
    margin-right: 4rem;
    margin-left: 4rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
    
  }

  .service-item{
    font-size: 1rem;
    color:rgb(176, 107, 12) ;
  }


  #tratamiento{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 150% 100%;
    background-image: url('images/imagen10.jpg'), url('images/imagen9.jpg');
   
  }

  #tramiento-cuerpo{
   
    background-color: #040b0fa7;
  }

  #tramiento-descripcion img{
width: 100%;
  }


  #tramiento-descripcion2{
    
    padding-top: 8rem;
  }


#tratamiento-fotos img{
    margin-top: 2rem;
    width: 25rem;
}

  #tratamiento-d-titulo2{
    margin-top: 1rem;
    font-weight: 800;
    line-height: 4rem;
    color: #ecd800;
    font-size: 4rem;
    font-family: "Montserrat", Sans-serif;
    
  }

  #tratamiento-d-titulo1{
    font-size: 1.4rem;
    font-family: "Montserrat", Sans-serif;
    margin-top: 4rem;
  }

  #tratamiento-d-titulo4{
    font-weight: 600;
    line-height: 4rem;
    color: #2defdc;
    font-size: 4rem;
    font-family: "Montserrat", Sans-serif;
    margin-top: 5rem;
  }

  #tratamiento-descripcion-imagen{
    margin-top: 1rem;
  }




  #tratamiento-d-titulo{

    line-height: 5rem;
    margin-top: 2rem;
   
    text-align: start;
    font-size: 5rem;
    font-weight: 800;
    font-family: "Montserrat", Sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


#whatsapp {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #25d366; /* Color de WhatsApp */
    padding: 10px;
    border-radius: 0 10px 10px 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo del ícono */
#whatsapp i {
    color: white;
    font-size: 24px;
}

/* Efecto al pasar el mouse por encima */
#whatsapp:hover {
    background-color: #20c057;
}


#reseña{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto  100%;
    padding-right: 0.2rem;
    background-image: url('images/imagen17.jpg');
    padding-bottom: 15rem;
    padding-top: 4rem;
    text-align: center;
    padding-left: 0.2rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

#reseña-titulo1{
    line-height: 1.4rem;
    margin-top: 2rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    font-size:4REM;
    color: rgb(83, 82, 82);

}

#reseña-titulo2{
    line-height: 1.4rem;
    margin-top: 2rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    font-size:4REM;
    color:#f5f2f3

}

#reseña1-comentario{
    font-weight: 300;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;


}



#reseña-icono img{
    width: 10rem;
}

#reseña1-cliente{
    line-height: 1.4rem;
    margin-top: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    font-size:1REM;
    color: rgb(255, 255, 255);
}



#reseña1-cliente::before{
    height: 2px;
   margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
     /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }



  #reseña1-cliente::after{
    height: 2px;
    margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
    margin-bottom: 5px; /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }


  #reseña2-cliente{
    line-height: 1.4rem;
    margin-top: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    font-size:1REM;
    color: rgb(255, 255, 255);
}



#reseña2-cliente::before{
    height: 2px;
   margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
     /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }



  #reseña2-cliente::after{
    height: 2px;
    margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
    margin-bottom: 5px; /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }




  #reseña3-cliente{
    line-height: 1.4rem;
    margin-top: 1rem;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    font-size:1REM;
    color: rgb(255, 255, 255);
}



#reseña3-cliente::before{
   margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 2px; /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }



  #reseña3-cliente::after{
    margin-bottom: 5px;
    border-radius: 0.2rem;
    align-items: center;
    content: "";
    display: inline-block;
    width: 1rem;
    height: 2px; /* Ajusta la altura de la barra según tus necesidades */
    background-color:  rgb(255, 255, 255);
    /* Espacio entre la barra y el texto del h2 */
  }


#galeria-carrusel{
    margin-top: 4rem;
}

#carrusel{
    height: 30rem;
    padding-bottom: 4rem;
}


#next-galeria{
    margin-bottom: 0rem;
}

#prev-galeria{
    margin-bottom: 0rem;
}

#c-imagen img{
    height: 20rem;
}

#imagen-galeria{
    width: 5rem;
    height: 5rem;
}

#galeria-titulo{
    text-align: center;
    padding-top: 4rem;
}


@media (max-width: 600px){

    .carousel-control-next-icon, .carousel-control-prev-icon {
        margin-bottom: 9rem;}

#estrellas{
    width: 100%;
    margin-bottom: 1rem;
}

#estrellas img{
    height: 1.5rem;
    width: 1.5rem;
}

    #telefono-descripcion1{
        color: #ffffff;
        font-size: 1.5rem;
    }
    

    #telefono-titulo{
        font-size: 2rem;
        font-family: "Montserrat", Sans-serif;
        font-weight: 500;
        color: #ffffff;
    }
    

    #imagen1{
        display: none;
    }

    #imagen2{
        display: none;
    }


    #imagen3{
        display: none;
    }

    .service-item {
       font-size: 0.8rem;
      }

    #servicio1-texto3{
        line-height: 1.4rem;
        margin-top: 2rem;
        font-family: "Montserrat", Sans-serif;
        font-weight: 00;
        font-size:1REM;
        color: rgb(83, 82, 82);
    }
    

    #cuerpo1a-oferta1 img {
        /* margin-bottom: -5rem; */
        height: 7rem;
        width: 10rem;
    }

    #tramiento-cuerpo{
        padding-bottom: 4rem;
    }

    #tratamiento-d-titulo2{
        line-height: 1.5rem;
        font-size: 1.5rem;
    }

    #tratamiento-d-titulo1{
        line-height: 1.2rem;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    }

    #tramiento-descripcion img{
        height: 22rem;
        margin-bottom: -4rem;
        width: 100%;
          }

    #tratamiento-d-titulo4{

        line-height: 1.5rem;
        color: #2defdc;
        font-size: 1.5rem;
        font-family: "Montserrat", Sans-serif;
        margin-top: 1rem;
    }

    

    #tramiento-descripcion {
    padding-top: 4rem;
    }

    #tramiento-descripcion2{
        padding-top: 0rem;
    }

    #tratamiento-d-titulo {
        line-height: 1.8rem;
        margin-top: 2rem;
        text-align: start;
        font-size: 1.8rem;
    }
    #cuerpo1a-oferta img{
        margin-bottom: -8rem;
       height: 10rem;
        width: 12rem;

    }

    #cuerpo1-texto3 {
        margin-top: 1rem;
        align-self: center;
        text-align: left;
        font-family: "Open Sans", Sans-serif;
        font-size: 1rem;
        font-weight: 300;
        line-height: 1rem;
        letter-spacing: 0.3px;
    }


    #cuerpo1-texto2 {
        text-align: left;
        color: #fc84b4;
        font-family: "Herr Von Muellerhoff", Sans-serif;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.8rem;
    }

    
    #precios{
        padding-top: 4rem;
        padding-right: 0rem;
        padding-left: 0rem;
      }

      #servicios-titulo1 {
        line-height: 2rem;
        font-size: 4rem !important;
    }

    #precios-contenedor1{
       margin-left: 0rem;
       margin-right: 0rem;
        padding-bottom: 4rem;
        padding-top: 0rem;
     
       
      }
    

    #contactanos-cuerpo-titulo1{
     color: #e26295;
      font-size: 2rem;
      margin-left: 1rem;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
    }


    #contactanos-cuerpo-titulo2{
        font-weight: 700;
        font-size: 4rem;
        line-height: 2rem;
        color:#43413e;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        
    }


    #contactanos-cuerpo-titulo-p{
        
        text-align: left !important;
        font-size: 2.5rem;

    }

    #contactanos-cuerpo-titulo-d{
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2rem;
        color: #353533;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 2rem;
    }

   

    #servicio1-texto{
        padding-top: 2rem;
        margin-left: 0;
    }

#servicios-titulo1{
    font-size: 2rem;
}


#servicios-titulo1::before{
   
    width: 1.5rem;
  
  }


  #servicios-texto1-2 {
  
    font-size: 2rem;

}


#servicios-texto1-1 {
  
    font-size: 2rem;

}


  #servicios-titulo2::after{
   
    width: 1.5rem;
  
  }

#servicios-titulo2{
    font-size: 2rem;
}




#cuerpo2{
    padding: 0 !important;
}

#cuerpo2-texto{
    margin-left: 0rem;
}


#cuerpo2-texto1{
    font-weight: 800;
    font-size: 1.8rem;
}

#cuerpo2-texto2{
    font-weight: 800;
    font-size: 2rem;
}

#cuerpo2-texto3{
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

#cuerpo2-texto4{
    font-family: "Herr Von Muellerhoff", Sans-serif;
      font-size: 4rem;
      color: #e26295;
  }

    .nav-item{
        margin-left: 0rem;
    }



    
#cuerpo1{
    height:70vh;
    padding-bottom: 4rem;
    padding-top: 4rem;
    background-image: url("images/imagen9.jpg");
    background-size: 130% 100%;
    
}

    
#cuerpo1a{
    height: 70vh;
    padding-bottom: 4rem;
    padding-top: 1rem;
    background-image: url("images/imagen13.png");
    background-size: 100% 100%;
}



#cuerpo1-texto1{
    line-height: 1.5rem;
    margin-top: 0rem;
   margin-left: 0rem;
    text-align: start;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
}


#boton1{
    border-radius: 0;
    font-size: 1rem;
    width: 100%;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin-top: 1rem;
    background-color:#FC84B4
}


#contactanos{
    background-size: 150% 100%;
}
    
}